<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Connaught</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-img
  src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Flag_of_Connacht.svg/1280px-Flag_of_Connacht.svg.png"
  style="width:400px; height:300px;">
</ion-img>

  <h2>Counties in Connaught</h2>
  <ul>
    <li>Sligo</li>
    <li>Galway</li>
    <li>Roscommon</li>
    <li>Mayo</li>
    <li>Leitrim</li>
  </ul>
</ion-content>